/* Start of CMSMS style sheet 'Typography' */
/* A CSS Framework by Mike Stenhouse of Content with Style */

/* TYPOGRAPHY */
	body {
		text-align: left;
		font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
		font-size: 0.75em;
        line-height: 1.3em;
	}
	div {
		font-size: 1em;
	}
	img {
		border: 0;
	}
	
/* LINKS */
	a,
	a:link 
	a:active, a:visited {
		text-decoration: underline;
	}

	a:hover {
	text-decoration: none;
	}
/* END LINKS */
	
/* HEADINGS */
	h1 {
	font-size: 2em;
	line-height: 1em;
		/*margin: 0;
		padding: 0;*/
	}
	h2 {
		font-size: 1.5em;
                line-height: 1.5em;
		margin: 0 0 0.5em 0;
		padding: 0;
	}
	h3 {
		font-size: 1.3em;
		line-height: 1.3em;
		margin: 0 0 0.5em 0;
		padding:0;
	}
        #menu_vert h3 {
		font-size: 1em;
                font-weight: normal;
		line-height: 1.3em;
		margin: 0;
		padding:0;
	}
	h4 {
		font-size: 1.2em;
		line-height: 1.3em;
		margin: 0 0 0.25em 0;
		padding: 0;
	}
	h5 {
		font-size: 1.1em;
		line-height: 1.3em;
		margin: 0 0 0.25em 0;
		padding: 0;
	}
	h6 {
		font-size: 1em;
		line-height: 1.3em;
		margin: 0 0 0.25em 0;
		padding: 0;
	}
/* END HEADINGS */

/* TEXT */
	p {
		font-size: 1em;
		margin: 0 0 1.5em 0;
		padding: 0;
		line-height:1.4em;
	}
	blockquote {
		border-left: 10px solid #ddd;
		margin-left: 10px;
	}
	pre {
		font-family: monospace;
		font-size: 1.0em;
	}
	strong, b {
		font-weight: bold;
	}
	em, i {
		font-style:italic;
	}
    code {
        font-family: "Courier New", Courier, monospace;
        font-size: 1em;
        white-space: pre;
    }
	p.perex {
		color:#bbbbbb;
		font-style:italic;
	}
/* END TEXT */
	
/* LISTS */
	#main ul {
        line-height:1.4em;
		margin: 0 0 1.5em 0;
		padding: 0;
	}
	#main ul li {
		margin: 0 0 0.25em 30px;
		padding: 0;
	}
	ol {
		font-size: 1.0em;
		line-height: 1.4em;
		margin: 0 0 1.5em 0;
		padding: 0;
	}
	ol li {
		font-size: 1.0em;
		margin: 0 0 0.25em 30px;
		padding: 0;
	}
	dl {
		margin: 0 0 1.5em 0;
		padding: 0;
		line-height: 1.4em;
	}
	dl dt {
		font-weight: bold;
		margin: 0.25em 0 0.25em 0;
		padding: 0;
	}
	dl dd {
		margin: 0 0 0 30px;
		padding: 0;
	}
/* END LISTS */
	
	
	
hr {
	display: none;
}

div.hr {
	height: 1px;
	margin: 1em 10px;
	border-bottom: 1px dotted black;
}

	
/* END TYPOGRAPHY */	
/* End of 'Typography' */

/* Start of CMSMS style sheet 'Tools' */
/* A CSS Framework by Mike Stenhouse of Content with Style, adapted to CMSMS by Daniel Westergren */

/* clearing */
	.stretch,
	.clear {
		clear:both; 
		height:1px; 
		margin:0; 
		padding:0; 
		font-size: 15px;
		line-height: 1px;
	}
	.clearfix:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
	}
	* html>body .clearfix {
		display: inline-block; 
		width: 100%;
	}
	
	* html .clearfix {
		/* Hides from IE-mac \*/
		height: 1%;
		/* End hide from IE-mac */
	}

/* end clearing */


/* replace */
	.replace {
		display:block;
		
		background-repeat: no-repeat;
		background-position: left top;
		background-color:transparent;
	}
	/* tidy these up */
	.replace * {
		text-indent: -10000px;
		display:block;
		
		background-repeat: no-repeat;
		background-position: left top;
		background-color:transparent;
	}
	.replace a {
		text-indent:0;
	}
	.replace a span {
		text-indent:-10000px;
	}
/* end replace */


/* accessibility */
     span.accesskey {
     	text-decoration:none;
     }
     .accessibility {
     	position: absolute;
     	top: -999em;
     	left: -999em;
     }
dfn {
  position: absolute;
  left: -1000px;
  top: -1000px;
  width: 0;
  height: 0;
  overflow: hidden;
  display: inline;
}
/* end accessibility */
/* End of 'Tools' */

/* Start of CMSMS style sheet 'Colours' */
/* Layout sections */
body {
	background-color:#000000;
	color:#ffffff;
	}
	
div#pagewrapper {
}
	
div#header {
	 
}
	
div#footer {
	color: #bbbbbb;
}
	
/* Links */		
a,
a:link 
a:active, a:visited {
	color: #ffcc00;
}

div#footer a, 	
        div#footer a:link 
	div#footer a:active, div#footer a:visited {
	color:#ffcc00;
	border-bottom:1px solid #bbbbbb;
	text-decoration:none;
}

/* Headings */	
h1, h2, h3, h4, h5, h6 {
	color: #CC0000;
}
/* End of 'Colours' */

/* Start of CMSMS style sheet 'Papua' */
div.imageleft, div.imageright {width: 315px; margin: 0;}
div.imageleft {margin-right: 4px;}
div.imageright {margin-left: 4px;}

div.imageleft {float: left;}
div.imageright {float: right;}

div.imageleft p, div.imageright p {color: #bbbbbb;}
div.imageright p {padding-left: 7px;}
div.imageleft p {padding-right: 7px;}

div.imageleft img, div.imageright img, #main img {border: 1px solid #555555; padding: 4px; background-color:#000000; margin-bottom: 7px;}

.odsadit, div.right49 {clear: both;}

div.image p em, div.imageleft p em, div.imageright p em {display: block; color: #BA9803;}

.noborder_img {border:0; padding:0;}

.vpravo5px img {margin-right: 5px;}
.vlevo5px img {margin-left: 5px;}
.vpravo10px img {margin-right: 10px;}
.vlevo10px img {margin-left: 10px;}

#banners {text-align: center; margin-top:3em;}
#banners span {display:block; margin: 7px;}

.main-block{
 clear: both;
 background-color: #e0eef4;
 margin-bottom: 1em;
 padding: .5em;
}

.resetovac
{
border: 0px none;
margin: 0px;
padding: 0px;
float: none;
clear: both;
width: 0px;
height: 0px;
line-height: 0px;
font-size: 0px;
}
/* End of 'Papua' */

/* Start of CMSMS style sheet 'Nav-Vertical' */
#menu_vert, #menu_vert ul, #menu_vert h3 {
  margin: 0;
  padding: 0;
  background-color: #000;
  }

#menu_vert ul {
  width: 100%;
  }

#menu_vert li {
  list-style: none;
  border-bottom: 1px solid #897B43;
  }

#menu_vert li li{
  padding-left:15px;
  border-top: 1px solid #897B43;
  border-bottom: 0px;
  }


#menu_vert li a, #menu_vert h3 {
  display: block;
  text-decoration: none;
  padding: 5px 5px 5px 10px;
  color: #ffcc00;
  }

#menu_vert li a:hover, #menu_vert li a.currentpage, #menu_vert h3, #menu_vert li.activeparent, #menu_vert a.activeparent  {
  background-color: #ffcc00;
  color: #000000;
  }

#menu_vert li li a:hover, #menu_vert li li a.currentpage, #menu_vert li li h3 {
  background-color: #fcfbad;
  color: #000000;
  }

/* Fix IE. Hide from IE Mac \*/
* html #menu_vert li { float: left; height: 1%; width:200px; }
* html #menu_vert li li {_width:185px; }
* html #menu_vert li a { height: 1%; }
/* End */








/* End of 'Nav-Vertical' */

/* Start of CMSMS style sheet 'Layout' */
/* Layout */

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

div#pagewrapper {
  margin: 0px auto;
  width: 1000px;
  padding: 0px;
  text-align: left;
}

#container {
  position: relative;
  margin: 0px;
}

div#header {
  margin: 0px;
  margin-bottom: 6px;
  padding: 0px;
  height: 165px;
  text-align: left;
  background:url(../images/layout/bg-header.jpg) left top no-repeat;
  position: relative;
}

div#header #logo{
	color:#CC0033;
	font-weight:bold;
	font-size:1.5em;
	display:block;
	cursor:pointer;
	text-decoration:none;
	position:relative;
	overflow:hidden;
	width:560px;
	height:90px;
	float:left;
	top:50px;
	left:1px;
	line-height:90px;
}
div#header #logo span{
	display:block;
    position:absolute; left:0; top:0; z-index:1;
	background:url("../images/layout/logo.jpg") top left no-repeat;
	width:460px;
	height:90px;
}
div#header #another_lang{
	font-weight:bold;
	font-size:1em;
	display:block;
	cursor:pointer;
	text-decoration:none;
	position:absolute;
	float:left;
	top:100px;
	right:17px;
	z-index:1;
	background-color:#481100;
	padding:5px 15px;
}

div#content {
  position: relative;
  margin: 0px auto 2em 0;
  padding: 0;
  text-align: left;
}

div#menu_vert {
  float: left;
  width: 201px;
  margin-left: 0;
}  

div#main {
  background:url(../images/layout/bg-main.jpg) right top no-repeat #000000;
  float: right;
  width: 785px;
  margin: 0;
  padding:10px 0px;

}

div#main .boxik-index{
  background-color: #160100;
  border: 1px solid #442222;
  padding: 11px 8px 5px 8px; 
  _height:100px;
  min-height:100px;
  margin-bottom:20px;
}

div#main-inner {
  padding: 0 5px;
}

div#footer {
	background-color:#222222;
	padding:11px 15px;
}

div#footer p {
  font-size: 0.9em;
  margin: 0px;
  text-align: center;
}

div.breadcrumbs {
  padding: 1em 0px;
  text-align: left;
  font-size: 90%;
  margin: 0px 1em;
  border-bottom: 1px dotted #000;
}

div.flags {
  float: right;
  width: 18px;
  padding: 1em 0px;
  text-align: right;
  margin: 0px 1em 0px 0px;
}

div.left49 {
  float: left;
  width: 20%;
  }

div.right49 {
  text-align: right;
  }

textarea {
 border: 1px solid #222;
 width: 600px;
 height: 60px;
 background-color: #ccc;
 padding: .5em;
 margin-bottom: 1.5em;
}

#change_lang {
 margin-left: 10px;
 margin-bottom: 5px;
}

#change_lang  a {
 text-decoration: none;
}
/* End of 'Layout' */

/* Stylesheet: Papua iGFX Modified On 2014-10-13 20:14:56 */
